<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blogging | {% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block progress %}
            <div class="progress">
                <div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        {% endblock %}

        {% block navbar %}
            {% include '/_partials/navbar/navbar.html.twig' %}
        {% endblock %}

        {% block alert %}
            {% include '/_partials/notification/alert.html.twig' %}
        {% endblock %}

        {% block notification %}
            <div class="container mt-5">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} text-center">
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block body %}

        {% endblock %}

        {% block footer %}
            {% include '/_partials/footer/footer.html.twig' %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}

        <script>
            const socket = new WebSocket("ws://{{ RATCHET_URL }}");
            var currentUser = '{{ app.user.username }}'
            var count = 0

            function notification(currentUser) {
                let delay = 6000

                $('#alert').after().append("" +
                    "<div id=" + count +" class=\"toast bg-success text-white\" role=\"alert\" aria-live=\"assertive\" aria-atomic=\"true\" data-delay="+ delay +">\n" +
                    "        <div class=\"toast-header bg-success text-white\">\n" +
                    "            <i class=\"fas fa-check fa-lg mr-2\"></i>\n" +
                    "            <strong id=\"title-alert\" class=\"mr-auto\">Nouveau follow</strong>\n" +
                    "            <small id=\"date-alert\">maintenant</small>\n" +
                    "            <button type=\"button\" class=\"ml-2 my-1 close text-white\" data-dismiss=\"toast\" aria-label=\"Close\">\n" +
                    "                <span aria-hidden=\"true\">×</span>\n" +
                    "            </button>\n" +
                    "        </div>\n" +
                    "        <div id=\"content-alert\" class=\"toast-body\">\n" +
                    "\n" +     "<strong>" + currentUser + "</strong>" + " vient de vous follow !" +
                    "        </div>\n" +
                    "\n" +
                    "    </div>")

                $("#"+count).toast('show')

                count++
            }

            socket.addEventListener("message", function (e) {
                try
                {
                    const message = JSON.parse(e.data);

                    if (message.follow === currentUser){
                        notification(message.currentUser)
                    }
                }
                catch(e)
                {
                    // Catch any errors
                }
            })
        </script>

    </body>
</html>
