<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LOGO Blogging</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Tendances</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('users_list') }}">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if app.user %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell"></i> <span class="badge badge-danger">{{ NotificationService.getNotification['Length'] }}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" style="width: 300px">
                            {% if NotificationService.getNotification['Length'] == 0 %}
                                <p class="p-2 mb-0">Vous n'avez pas de notification.</p>
                            {% endif %}
                            {% for notification in NotificationService.getNotification['Notification'] %}
                                <div class="d-flex align-items-center">
                                    <div class="p-3">
                                        <i class="fas fa-{{ notification.icon }} {{ notification.status }}"></i>
                                    </div>
                                    <p class="mb-0">{{ notification.message }}</p>
                                </div>
                                <span class="font-size-date d-flex justify-content-end mr-2">{{ notification.createdAt | date('d/m/Y H:i:s') }}</span>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user">

                            </i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('user_id', {'id': app.user.id}) }}" class="dropdown-item">Profil</a>
                            <button class="dropdown-item" type="button">Another action</button>
                            <a href="{{ path('authentication_logout') }}" class="dropdown-item">Se déconnecter</a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-link" href="{{ path('authentication_account') }}">Connexion / Inscription</a>
                {% endif %}



            </li>
        </ul>
    </div>
</nav>
