{% extends 'Front/base.html.twig' %}

{% block title %}{{ user.email }}{% endblock %}

{% block body %}
    <div class="container vh-100">
            <div class="d-flex justify-content-between">
                <div>
                    <img src="https://picsum.photos/id/237/200/200" alt="avatar">
                </div>
                <div>
                    {{ user.email }}
                </div>
                <div>
                    <button id="follow" class="btn btn-secondary {% if app.user is null %} disabled {% endif %}">S'abonner</button>
                    {% if app.user is null %}
                        <p>
                            <a href="{{ path('authentication_account') }}">connectez-vous</a>
                        </p>
                    {% endif %}
                    <button id="unfollow" class="btn btn-danger">Se désabonner</button>

                </div>
                
            </div>
        
        <div class="d-flex justify-content-between mt-5 mb-5">
            <div>
                <span class="badge badge-pill badge-primary">
                    12
                </span>
                <p>
                    Nombre d'articles
                </p>
            </div>
            <div>
                <a href="{{ path('follow_id', {'id': user.id}) }}">
                    <span id="followNumber" class="badge badge-pill badge-primary" data-follow="{{ howManyFollow }}">
                    {{ howManyFollow }}
                </span>
                    <p>
                        Abonnés
                    </p>
                </a>

            </div>
            <div>
                <span class="badge badge-pill badge-primary">
                    {{ howManySubscribe }}
                </span>
                <p>
                    Abonnements
                </p>
            </div>
        </div>

        <h4 class="text-white">Les articles les plus récents</h4>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {% if follow is empty %}
            $('button#follow').css('display', 'initial')
            $('button#unfollow').css('display', 'none')
        {% else %}
            $('button#follow').css('display', 'none')
            $('button#unfollow').css('display', 'initial')
        {% endif %}
        $(document).ready(function () {
            $('#follow').click(function(){
                $.ajax({
                    url: "{{ path('follow_add') }}",
                    method: "POST",
                    data: {
                        userTwo : {{ user.id }}
                    },
                    success: function(code, status, msgStatus)
                    {
                        $('#follow').css('display', 'none')
                        $('#unfollow').css('display', 'initial')
                        let value = $('span#followNumber').data("follow")
                        $('span#followNumber').html( value + 1).data('follow', value + 1)
                    },
                });
            });
            $('#unfollow').click(function(){
                $.ajax({
                    url: "{{ path('follow_remove') }}",
                    method: "POST",
                    data: {
                        user : {{ user.id }}
                    },
                    success: function(code, status, msgStatus)
                    {
                        $('#unfollow').css('display', 'none')
                        $('#follow').css('display', 'initial')
                        let value = $('span#followNumber').data("follow")
                        $('span#followNumber').html( value - 1).data('follow', value - 1)
                    },
                });
            });
        });
    </script>
{% endblock %}


