{% extends 'Front/base.html.twig' %}

{% block title %}{{ article.slug }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
{% endblock %}


{% block body %}
    <div class="container-fluid vw-85 mb-50">
        <div class="row">
            <h3 class="mb-4">{{ article.title }}</h3>
            <div class="col-lg">
                <div class="card shadow-2 mb-5 ">
                    <div class="card-body">
                        <p class="card-text">
                            {{ article.content }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mb-5" style="max-width: 18rem;">
                    <div class="card-header text-capitalize">
                        <strong>{{ article.username }}</strong>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>
                                {{ nbArticle }} Article(s)
                            </li>
                            <li>
                                {{ article.nbFollow }} Abonné(s)
                            </li>
                            <li>
                                {{ article.nbSubscribe }} Abonnement(s)
                            </li>
                        </ul>
                        <h5>Tags</h5>
                        <span class="badge rounded-pill bg-primary">
                            {{ article.tags | join(', ')  }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        {% for c in comment %}
            <div class="row mb-5 ml-1" style="width: 62vw">
                <div class="col-lg-9 pr-0 shadow-2 color-pair">
                    <div class="p-3">
                        {{ c.content | raw }}
                    </div>
                </div>
                <div class="col-lg pl-0 pr-0" style="min-height: 250px">
                    <div class="bg-black-light shadow-2" style="width: 100%; height: 250px">
                        <div class="d-flex justify-content-center">
                            <img src="{{ asset('uploads/avatar/' ~ c.createdBy.avatar) }}" alt="{{ c.createdBy.username }}"
                                 class="avatar-radius mt-3 avatar-edit-account"
                            >
                        </div>
                        <h3 class="text-white text-center mt-2">{{ c.createdBy.username }}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-lg">
                <div id="editor">
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button id="comment" type="submit" class="btn btn-secondary">Commenter</button>
                </div>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        let quill = new Quill('#editor', {
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline'],        // toggled buttons
                    ['blockquote', 'code-block'],
                    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    [{ 'color': [] }],          // dropdown with defaults from theme
                    [{ 'align': [] }],
                    ['link', 'image']

                ]
            },
            theme: 'snow',  // Specify theme in configuration
            placeholder: 'Commenter cet article...',
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#comment').click(function(){
                $.ajax({
                    url: "{{ path('article_id', {'username': article.username, 'slug' : article.slug}) }}",
                    method: "POST",
                    data: {
                        content : $('.ql-editor').html()
                    },
                    success: function()
                    {
                        location.reload()
                    },
                });
            });
        });
    </script>
{% endblock %}
